<section id="header">
    <a href="#"><img src="https://i.postimg.cc/x8ncvFjr/logo.png"></a>
    <div>
<ul id="navbar">
<li><a href="{% url 'home' %}" class="active">Home</a></li>
{% if user.is_authenticated == False %}

<li><a href="{% url 'sing_in' %}">sing in</a></li>
<li><a href="{% url 'login' %}">login</a></li>

{% endif %}


<li><a href="{% url 'about' %}">About</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="cart.html" id="lg-bag"><i class="fal fa-shopping-bag"></i></a>
<span class="quantity">0</span>
</li>
<li><a href="#" id="close"<i class="far fa-times"></i></a></li>
        </ul>
    </div>
<div id="mobile">
<a href="cart.html" ><i class="fal fa-shopping-bag"></i>
<span class="quantity">0</span>
</a>
<i id="bar" class="fas fa-outdent"></i>
</div>
</section>